@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    text-align: center;
    color: #40514E;
}
h1 {
    margin-bottom: 30px;
    color: #66BFBF;
}
h2 {
    color: #66BFBF;
}
.my_img {
    width: 15%;
    border-radius: 100%;
}
.skills{
    margin: auto;
}

