@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Fredericka+the+Great&family=Montserrat&display=swap');

body {
    margin: 0;
    text-align: center;
    color: #40514E;
    background-color: beige
}

h1 {
    margin-bottom: 30px;
    color: #66BFBF;
    font-size: 50px;
}

.nav-item {
    color:white;
}

h2 {
    color: #66BFBF;
}

h3 {

    color: #66BFBF;
}

hr {
    margin: 70px 0;
}

.description {
   
    font-size: 1.5rem;
}

span {
    font-family: 'Times New Roman', Times, serif;
    font-size: 6rem;
    color: black;
}

address {
    margin-bottom: 0;
}

footer {
    margin-top: 100px;
    background-color: #66BFBF;
    width: 100%;

}

.about {
    font-size: 50px;
    margin-bottom: 50px;
}

.education {
    text-align: left;
    line-height: 3;
}

.my_img {
    width: 15%;
    border-radius: 100%;
    float: left;
}

.projects {
    margin: auto;
}

.skills {
    text-align: start;
}

.skill-row {
    width: 50%;
    margin: 50px auto;
    text-align: left;
    line-height: 2;
}

.web {
    width: 25%;
    float: left;
    margin-right: 30px;
    height: 25%;
}

.web1 {
    width: 25%;
    float: right;
    margin-left: 30px;
    height: 25%;
}

.icons {
    margin-bottom: 0px;
}

footer li {
    list-style: none;
    display: inline-flex;
    padding-right: 50px;
}

footer li :hover {
    color: #EECD59;

}

.footer_msg {
    color: black;

}

.work {
    margin-top: 20px;
}

.card {
    margin: 10px auto;

}