@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    text-align: center;
    color: #40514E;
}
h1 {
    margin-bottom: 30px;
    color: #66BFBF;
}
h2 {
    color: #66BFBF;
}
.my_img {
    width: 15%;
    border-radius: 100%;
}
.projects {
    text-align: left;
}
.skills{
    margin: auto;
}
.skill-row{
    width: 50%;
    margin: 50px auto;
    text-align: left;
    line-height: 2;
}
.web {
    width: 25%;
    float: left;
    margin-right: 30px;
    height: 25%;
}

